<!-- Vigbo-cms //static-cdn4.vigbo.tech/u19745/26206/ bruno2 -->
<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>Видео</title>
    <link rel="stylesheet" type="text/css" href="/static/css/video.css">

    <script src="/static/js/search.js"></script>
    {% endblock %}
</head>
<body data-template="bruno2"
      class="f__preset-box f__site f__2 loading locale_ru bruno2 mod--search-disable mod--img-logo mod--header-static mod--menu-action-on-scroll mod--menu-static-on-scroll desktop adaptive-desktop mod--horizontal-menu mod--infoline-disable js--loading-cascade mod--font-none-preset layout-logo-left--by-logo "
      data-preview="">


<div class="l-wrap js-wrap">

    {% block after %}
    <div class="search">
        <input placeholder="Поиск роликов" name="search" onkeydown="get_search_event(event)" id="search-field"
               type="text" size="52">
    </div>

    <div class="container">

        <video autoplay controls
               src="data:video/{{video_source.format}};base64,{{video_source.source}}">
        </video>
        <p class="title">{{video.title}}</p>
        <p class="description">{{video.description}}</p>

        <a href="{{url_for('show_studio', id=video.studio_id)}}">
            <div class="studio-info">

                <img src="data:image/{{studio_cover.format}};base64, {{studio_cover.source}}">

                <p>{{studio.title}}</p>

            </div>
        </a>
    </div>

    {% endblock %}
</div>

<!--    <div class="bg-image">-->
<!--        <img src="/static/images/background_image.png">-->
<!--    </div>-->


</body>
</html><!-- cached 2022-11-24 10:12:41 e24cc38881bdebf1e12f84cc0a6bf3ce -->